@media (min-width:600px){
    body{
        padding:0%;
        margin: 0%;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }
    hr{
        border: 1px solid gainsboro;
    }
    #nav{
        width: 88%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255,254,254);
        padding:0.1% 6%;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      
    }
    #nav img{
        width: 80%;
    }
    #nav p{
        font-size: 70%;
        text-align: end;
        line-height: 55%;
        color: grey;
    }
    
    #pmain{
        padding:1.5% 5%;
        display: flex;
        margin-bottom: 20vh;
    
    }

    #address{
       width:67%;
        
    }
    #psummary{
        width: 33%;
        position: sticky;
        top:0%;
        height: fit-content;
    }
    #address > div{
        display: flex;
        
    }
    #method > div{
        border: 1px solid gainsboro;
        margin-right: 1%;
        width: 47%;
        text-align: center;
    }
    #address p{
        color: gray;
        font-size: 85%;
        margin-top: 5px;
        
       
    }
    #address > div   h4{
       margin-bottom: 7px;
       margin-top: 15px;
       color: rgba(0, 0, 0, 0.651);
    }
    #address h2{
        font-weight: 500;
        margin-top: 0px;
    }
    #address h3{
        margin-top: 7%;
        color: rgba(0, 0, 0, 0.651);
        font-size: 110%;
        margin-bottom: 2%;
    }
    
    #form{
        display: flex;
        flex-direction: column;
    
    }
    #form > div{
        display: flex;
        flex-direction: column;
        margin-top: 2.5%;
        width: 65%;   
    }
    #form > div input{
       margin-top: 6px;
        height: 38px;
        color: rgba(0, 0, 0, 0.582);
        border: 1px solid rgba(160, 159, 159, 0.5);
        padding-left: 2%;
    }
    #form >  div lable{
       
        font-size: small;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.856); 
        
    }
    #state{
        margin-top: 6px;
        height: 42px;
        color: rgba(0, 0, 0, 0.582);
    }
    #form div:nth-last-child(1){
        color:rgba(0, 0, 0, 0.856);
        font-size: small;
        font-weight: 600;
    }
    #type{
       
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-bottom: -10%;
        
    }
    #type > div{
        display: flex;
    }
    #type p{
          font-size: medium;
          font-weight: lighter;
          color: rgba(0, 0, 0, 0.829);
          margin-top: 15px;
          margin-left: 15px;
    }
    option{
       
        line-height: 20px;
       
    }
    #lastcom1{
        display: none;
        margin-top: 0%;
    }
    #lastcom1 button{
        display: none;
    }
    #lastcom1 p{
display: none;
padding: 0%;
margin: 0%;
    }
    hr{
        margin-right: 5%;
    }
    #payment{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    #payment div{
        display: flex;
        justify-content: space-between;
    }
    #payment > div > div:nth-last-child(1){
        display: flex;
        flex-direction: column;
    }
    #payment img{
        width:100%
    }
    #payment input{
        margin-top: 30px;
      
       
    }
    #payment h2{
        margin-top: 15px;
    }
    #paydetails{
        display: flex;
        flex-direction: column;
       
        margin-left: 8%;
    }
    
    #paydetails input{
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        width: 51%;
        padding:1.8% 2%;
        border:1px solid gainsboro
    }
    #paydetails > div{
        margin-top: 3%;
    }
    #paydetails label{
        font-size: 80%;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.842);
        
    }
    
    #radio{
        margin-left: 7.7%;
        display: flex;
        margin-top: 3%;
        margin-bottom: 2%;
        
    }
    #radio label{
        margin-right: 25%;
        font-size: 80%;
        font-weight: 600;
    }
    #valid{
        display: flex;
       
        width: 55%;
        height: 60px;
        
    }
    
    
    
    #cvv{
        width:32%
    }
    #cvv input{
        width: 96%;
        padding: 4% 2%;
        height: 50%;
    }
    #mselect{
        width:70%
    }
    
    
    #select{
        display: flex;
      
      width: 100%;
      height: 70%;
     
    
    }
    #select select{
        width:46%;
        margin-right: 4%;
        height: 100%;
        border: 1px solid gainsboro;
    }
    #select option{
        background-color: white;
        padding: 10%;
      
    }
    #infocheck{
       
        width:90%;
        display: flex;
        flex-direction: column;
        margin-left: 8%;
        margin-top: 3%;
    }
    #infocheck p,label{
        display: flex;
        font-size: 80%;
    }
    #mark{
       margin-right: 2%;
        
    }
    #infocheck label{
        margin-bottom: 2.8%;
        font-weight: 600;
    }
    #upiopt{
        width: 100%;
        
    }
    #upiopt> div{
        width: 100%;
        display: flex;
     
        align-items: center;
    }
    #upiopt > div> div{
        margin-right:3%;
    }
    #upiopt h4{
        color:black
    }
    #upiopt img{
        width:100%;
       
    }
    #upiopt > div > div:nth-last-child(1){
        margin-left: 4%;
    }
    #upiopt > div > div:nth-child(2){
        width:5%
    }
    #promo{
        display: flex;
        width: 100%;
        margin-top: 3%;
       
    
    }
    #promo> div{
        display: flex;
        width: 100%;
    }
    #promo a{
        color:orange;
        font-size: 80%;
        text-align: center;
        margin-top: 1%;
        
    }
    #promo p{
        color: black;
        margin-right: 5%;
    }
    #promo > div:nth-child(1){
        width: 4%;
        height: 0.5%;
        margin-right: 2%;
    }
    #promo img{
        width: 100%;
    }
    #lastcom{
        margin: 2% 0%;
        width: 100%;
        display: flex;
     
    }
    
    #lastcom a{
        text-decoration: underline;
    }
    #lastcom p{
        color:black;
        font-size: 72%;
    
    }
    #lastcom button{
        width: 450%;
        padding: 25% 5%;
        color: white;
        font-weight: 600;
        border:1px solid orange;
        background-color: orange;
        border-radius: 3px;
        
    }
    #lastcom >div:nth-child(1){
        margin-right: 9%;
        height: 10%;
        margin-top: 2%;
    }
}


/* @media all and (max-width:600px) and (min-width:501px) */

@media (max-width:600px){
    body{
        
        padding:0%;
        margin: 0%;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }
    hr{
        border: 1px solid gainsboro;
    }
    #nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255,254,254);
        padding:0.1% 6%;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      
    }
    #nav img{
        width: 60%;
        margin-left: 150%;
       
    }
    #nav p{
      flex-shrink: 0;
        display: none;
        font-size: 70%;
        text-align: end;
        line-height: 55%;
        color: grey;
    }

    #pmain{
      
        /* margin-right:-50px; */
      
        width: 94%;
        
        padding:1.5% 3%;
        
        display: grid;
        grid-template-columns: 100%;

         ;
    }

    #address{
       
        width: 100%;
    }
    #psummary{
        width: 100%;
    }
    #address > div{
        display: flex;
        
    }
    #method{
        display: flex;
        justify-content: space-between;
        margin: auto;
      
    }
    #method > div{
        border: 1px solid gainsboro;
       
        width: 49%;
        text-align: center;
    }
    #address p{
        color: gray;
        font-size: 85%;
        margin-top: 5px;
        
       
    }
    #address > div   h4{
       margin-bottom: 7px;
       margin-top: 15px;
       color: rgba(0, 0, 0, 0.651);
    }
    #address h2{
        font-weight: 500;
        margin-top: 0px;
    }
    #address h3{
        margin-top: 7%;
        color: rgba(0, 0, 0, 0.651);
        font-size: 110%;
        margin-bottom: 2%;
    }
    
    #form{
        display: flex;
        flex-direction: column;
        
    
    }
    #form > div{
        display: flex;
        flex-direction: column;
        margin-top: 2.5%;
        width: 100%;   
    }
    #form > div input{
       margin-top: 6px;
        height: 38px;
        color: rgba(0, 0, 0, 0.582);
        border: 1px solid rgba(160, 159, 159, 0.5);
        padding-left: 2%;
    }
    #form >  div lable{
       
        font-size: small;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.856); 
        
    }
    #state{
        margin-top: 6px;
        height: 42px;
        color: rgba(0, 0, 0, 0.582);
    }
    #form div:nth-last-child(1){
        color:rgba(0, 0, 0, 0.856);
        font-size: small;
        font-weight: 600;
    }
    #type{
        margin-bottom: -4%;
        display: flex;
        justify-content: space-between;
        width: 70%;
        
    }
    #ltype{
        font-size: 100%;
    }
    #type > div{
        display: flex;
      
    }
    #type p{
          font-size: medium;
          font-weight: lighter;
          color: rgba(0, 0, 0, 0.829);
          margin-top: 15px;
          margin-left: 15px;
    }
    option{
       
        line-height: 20px;
       
    }
    #lastcom1{
        text-align: center;
       
    }
    #lastcom1 a{
        text-decoration: underline;
    }
 
    #lastcom1 button{
        background-color: orange;
        width:95%;
        padding:2.3% 0%;
        border: 1px solid orange;
        border-radius: 3px;
    }
    hr{
        margin-right: 5%;
    }
    #payment{
      
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    #payment div{
        display: flex;
        justify-content: space-between;
    }
    #payment > div > div:nth-last-child(1){
        display: flex;
        flex-direction: column;
    }
    #payment img{
        width:100%
    }
    #payment input{
        margin-top: 30px;
      
       
    }
    #payment h2{
        margin-top: 15px;
    }
    #paydetails{
       
        display: flex;
        flex-direction: column;
       
        /* margin-left: 8%; */
    }
    
    #paydetails input{
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        width: 96%;
        padding:2% 2%;
        border:1px solid gainsboro
    }
    #paydetails > div{
        margin-top: 3%;
    }
    #paydetails label{
        font-size: 80%;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.842);
        
    }
    
    #radio{
        margin-left: 7.7%;
        display: flex;
        margin-top: 3%;
        margin-bottom: 2%;
        
    }
    #radio label{
        margin-right: 25%;
        font-size: 80%;
        font-weight: 600;
    }
    #valid{
        display: flex;
       
        width: 85%;
        height: 60px;
        
    }
    
    
    
    #cvv{
        width:20%
    }
    #cvv input{
        width: 96%;
        padding: 4% 2%;
        height: 50%;
    }
    #mselect{
        width:70%
    }
    
    
    #select{
        display: flex;
      
      width: 100%;
      height: 70%;
     
    
    }
    #select select{
        width:46%;
        margin-right: 4%;
        height: 100%;
        border: 1px solid gainsboro;
    }
    #select option{
        background-color: white;
        padding: 10%;
      
    }
    #infocheck{
       
        width:90%;
        display: flex;
        flex-direction: column;
        margin-left: 8%;
        margin-top: 3%;
    }
    #infocheck p,label{
        display: flex;
        font-size: 80%;
    }
    #mark{
       margin-right: 2%;
        
    }
    #infocheck label{
        margin-bottom: 2.8%;
        font-weight: 600;
    }
    #upiopt{
        width: 100%;
        
    }
    #upiopt> div{
        width: 100%;
        display: flex;
     
        align-items: center;
    }
    #upiopt > div> div{
        margin-right:3%;
    }
    #upiopt h4{
        color:black
    }
    #upiopt img{
        width:100%;
       
    }
    #upiopt > div > div:nth-last-child(1){
        margin-left: 4%;
    }
    #upiopt > div > div:nth-child(2){
        width:5%
    }
    #promo{
        display: flex;
        width: 100%;
        margin-top: 3%;
       
    
    }
    #promo> div{
        display: flex;
        width: 100%;
    }
    #promo a{
        color:orange;
        font-size: 80%;
        text-align: center;
        margin-top: 1%;
        
    }
    #promo p{
        color: black;
        margin-right: 5%;
    }
    #promo > div:nth-child(1){
        width: 4%;
        height: 0.5%;
        margin-right: 2%;
    }
    #promo img{
        width: 100%;
    }
    #lastcom{
        margin: 2% 0%;
        width: 100%;
        display: flex;
        position: relative;
        right: 50px;
     
    }
    
    #lastcom a{
        text-decoration: underline;
    }
    #lastcom p{
        display: none;
        color:black;
        font-size: 72%;
    
    }
    #lastcom button{
        width: 450%;
        padding: 25% 5%;
        color: white;
        font-weight: 600;
        border:1px solid orange;
        background-color: orange;
        border-radius: 3px;
        
    }
    #lastcom >div:nth-child(1){
        margin-left: 50%;
        height: 10%;
        margin-top: 2%;
    }

}
#psummary{

    border: 1px solid gainsboro;
    padding-bottom: 0vh;
  
}
#psummary p{
    font-weight:lighter;
    text-align: center;
 
}


   
 
#smain{
    padding-top: 2.8vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto auto auto ;
    
    overflow-y: scroll;
    height: 50vh;

}






#mainbox{
  

    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0% 5%;
    margin-top: 1.7vh;
    border-bottom:1px solid gainsboro ;
   
    text-align: start;
    font-size: 2vh;
    font-weight: 100;
}
#box1{

    width: 20%;
   
}
#box2{
    width: 50%;
    flex-grow: 3;
   padding:0% 3%;
}
#pic{
    width: 10.5vh;
    height: 10.5vh;
}
#box2 p{
    color: grey;
}

#box2 p{
    text-align: start;
}
#box2 p:nth-last-child(1){
    text-align: end;
margin-bottom: 1.5vh;
}
#box2 p:nth-last-child(2){
    color: black;
}
#box2 p:nth-child(1){
   margin-top: 0;
}
#psummary hr{
    width:56.6vh
}
#subtotal{
    position: relative;
 color: rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: space-between;
    padding:0vh 3vh
}

#paymentimg{
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
  
}
#paymentimg>img{
    height: auto;
    width: 50px;
    gap:20px;
    margin: 5px;
}